<!DOCTYPE html>
<head>
    <title>Analítico Final y Diploma</title>
</head>
<body>
    <div ng-init="vm.init()" class="row">
        <div class="col-md-11 col-centered">
            <h2>Estado Académico</h2>
        </div>
        <div class="col-md-11 col-centered">

            <div class="panel panel-info">
                    <div class="panel-heading">Analítico Final y Diploma: Estado Académico</div>
                <div class="panel-body collapsable">
                        <div class="row" style="padding-top: 10px">
                                <div class="col-md-6 form-group">
                                    <label>Carrera:</label>
                                    <input type="text" class="form-control" ng-model="vm.estadoAcademicoData.Carrera" disabled>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Plan:</label>
                                    <input type="text" class="form-control" ng-model="vm.estadoAcademicoData.Plan" disabled>
                                </div>
                            </div>
                    
                    <div class="row">
                        <div class="col-md-12 col-centered">
                            <div id="administracionGrid" style="height:486px; overflow-y: auto;">
    
                                <table id="estadoAcademico_ResultTable" bs-table-control="bsTableControl" data-row-style="rowStyle">
                                    <thead>
                                        <tr>
                                            <th data-field="Materia" data-filter-control="input" data-filter-control-placeholder="Buscar">Materia</th>
                                            <th data-field="Fecha" data-filter-control="input" data-filter-control-placeholder="Buscar">Fecha</th>
                                            <th data-field="Nota" data-filter-control="input" data-filter-control-placeholder="Buscar">Nota</th>
                                            <th data-field="Folio" data-filter-control="input" data-filter-control-placeholder="Buscar">Folio</th>
                                            <th data-field="LibroActa" data-filter-control="input" data-filter-control-placeholder="Buscar" >Lib/Acta</th>
                                            <th data-field="Recono" data-filter-control="input" data-formatter="operationFormatter" data-filter-control-placeholder="Buscar">Recono</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-12 form-group">
                            <p>Si detectas alguna irregularidad entre lo indicado en tu estado académico y tu libreta, podés realizar un pedido de revisión mediante el trámite de "Rectificación de Datos".</p>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-12 col-centered">
                            <input type="checkbox" ng-model="vm.confirmed">
                            <span>He leido y confirmo los datos en pantalla</span>
                            <button class="btn btn-primary btn-finish pull-right" ng-disabled='!vm.confirmed' ng-click="vm.next()">Siguiente</button>
                            <button class="btn btn-primary pull-right" ng-click="vm.cancel()" style="margin-right: 5px">Cancelar</button>
                            <button class="btn btn-primary pull-right" ng-click="vm.back()" style="margin-right: 5px">Anterior</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>