<div class="modal-header">
    <h3 class="modal-title">Trámite: {{selectedTramite.NroTramite}}</h3>
</div>
<div class="modal-body">

<label style="font-weight: bold">Nombre:</label> {{selectedTramite.Nombre}}<br>
<label style="font-weight: bold">Legajo:</label> {{selectedTramite.Legajo}}<br>
<label style="font-weight: bold">Carrera:</label> {{selectedTramite.Carrera}}<br>
<label style="font-weight: bold">Trámite Nro:</label> {{selectedTramite.NroTramite}}<br>
<label style="font-weight: bold">Descripción:</label> {{selectedTramite.Descripcion}}<br>
<label style="font-weight: bold">Fecha:</label> {{selectedTramite.Fecha}}<br>
<label style="font-weight: bold">Estado:</label> {{selectedTramite.EstadoDescription}}<br>
<label style="font-weight: bold">Observaciones:</label> {{selectedTramite.Observaciones}}<br>
<br>
    
<label style="color: green; font-weight: 400;">Para hacer el seguimiento del trámite, comunicarse al 0800XXXXXXX, vía email a admin@kennedy.edu.ar o personalmente a AIA</label>

</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
