<!DOCTYPE html>

<head>
    <title>Programas legalizados</title>
</head>

<body>
    <div data-ng-init="vm.init()" class="row">
        <div class="col-md-11 col-centered">
            <h2>Programas legalizados: Búsqueda de Programas</h2>
        </div>
        <div class="col-md-11 col-centered">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form name="academicoForm">
                        <div class="row">
                            <div class="col-md-12 col-centered">
                                <div class="col-md-4 form-group" style="margin-bottom:0px">
                                    <span>¿El programa está digitalizado?</span>
                                    <br>
                                    <input type="checkbox" ng-model="vm.digitalizado">
                                </div>
                                <div class="col-md-6 col-md-offset-2 form-group" style="margin-bottom:0px">
                                    <button class="btn btn-primary btn-finish pull-right" ng-click="vm.next()">Finalizar</button>
                                    <button class="btn btn-primary pull-right" ng-click="vm.cancel()" style="margin-right: 5px">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>