<div class="modal-header">
    <h3 class="modal-title">Trámite: {{selectedTramite.NroTramite}}</h3>
</div>
<div class="modal-body">

    <h1> Revisión de Registro</h1>
    <br />
    <br />
    <br />
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="save()">Guardar</button>
    <button class="btn btn-success" type="button" ng-click="end()">Terminar</button>

    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
</div>